<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Join the PX4 Autopilot Community on Discord</title>
    <meta http-equiv="refresh" content="1; URL=https://discord.gg/Dronecode" />
    <style>
      body {
        background-color: #5EC5CE;
      }
      #discord-widget {
        width: 350px;
        height: 500px;
        margin: 10% auto 0;
      }
      #cta {
        text-align: center;
        margin-bottom: 20px;
      }
      #cta a {
        font-family: sans-serif;
        color: #252525;
        font-size: 24px;
      }
    </style>
  </head>
  <body>
    <div id="discord-widget">
      <div id="cta">{{ content }}</div>
      <iframe src="https://discord.com/widget?id=1022170275984457759&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
    </div>
  </body>
</html>
